.padre{
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img{
  width: 320px;
  margin: 20px;
  height: 480px;
  opacity: .5;
}

img:hover{
  opacity: 1;
  cursor: pointer;
}